<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="tr">
<head>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<meta name="description" content="Ahmet KÜPELİKILINÇ">
	<meta name="author" content="Akupelikilinc">

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<title>Ahmet KÜPELİKILINÇ | Anasayfa</title>

	<!-- STYLES -->
	<link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:200i,300,300i,400,400i,500,500i,600,700,700i,800&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">


	<link rel="stylesheet" type="text/css" href="~/Arlo/css/plugins.css" />
	<link rel="stylesheet" type="text/css" href="~/Arlo/css/colors.css" />
	<link rel="stylesheet" type="text/css" href="~/Arlo/css/darkMode.css" />
	<link rel="stylesheet" type="text/css" href="~/Arlo/css/style.css" />
	<!--[if lt IE 9]> <script type="text/javascript" src="~/Arlo/js/modernizr.custom.js"></script> <![endif]-->
	<!-- /STYLES -->

</head>

<body>
	<!-- If you want DARK MODE just add class 'dark' to body. For Example: <body class="dark"> -->
	<!-- PRELOADER -->
	<div class="arlo_tm_preloader">
		<div class="spinner_wrap">
			<div class="spinner"></div>
		</div>
	</div>
	<!-- /PRELOADER -->
	<!-- WRAPPER ALL -->
	<div class="arlo_tm_all_wrap" data-magic-cursor="" data-color="crimson">

		<!-- "" is default option -->
		<!-- MAGIC CURSOR VALUES: "", hide -->
		<!-- COLOR VALUES: blue, green, brown, pink, orange, black, white, purple, sky, cadetBlue, crimson, olive, red -->
		<!-- SETTINGS -->
		<div class="arlo_tm_settings">
			<div class="icon">
				<img class="svg" src="~/Arlo/img/svg/setting.svg" alt="" />
				<a class="link" href="#"></a>
			</div>
			<div class="wrapper">
				<span class="title">Unlimited Colors</span>
				<ul class="colors">
					<li><a class="blue" href="#"></a></li>
					<li><a class="green" href="#"></a></li>
					<li><a class="brown" href="#"></a></li>
					<li><a class="pink" href="#"></a></li>
					<li><a class="orange" href="#"></a></li>
					<li class="bl"><a class="black" href="#"></a></li>
					<li class="wh"><a class="white" href="#"></a></li>
					<li><a class="purple" href="#"></a></li>
					<li><a class="sky" href="#"></a></li>
					<li><a class="cadetBlue" href="#"></a></li>
					<li><a class="crimson" href="#"></a></li>
					<li><a class="olive" href="#"></a></li>
					<li><a class="red" href="#"></a></li>
				</ul>
				<span class="title">Magic Cursor</span>
				<ul class="cursor">
					<li><a class="showme show" href="#"></a></li>
					<li><a class="hide" href="#"><img class="svg" src="~/Arlo/img/svg/arrow.svg" alt="" /></a></li>
				</ul>
			</div>
		</div>
		<!-- /SETTINGS -->
		<!-- MODALBOX NEWS -->
		<div class="arlo_tm_modalbox_news">
			<div class="box_inner">
				<div class="close">
					<a href="#"><img class="svg" src="~/Arlo/img/svg/cancel.svg" alt="" /></a>
				</div>
				<div class="description_wrap">
				</div>
			</div>
		</div>
		<!-- /MODALBOX NEWS -->
		<!-- MOBILE MENU -->
		<div class="arlo_tm_mobile_menu">
			<div class="mobile_menu_inner">
				<div class="container">
					<div class="mobile_in">
						<div class="logo">
							<a href="#"><img src="~/Arlo/img/logo/mobile/dark.png" alt="" /></a>
						</div>
						<div class="my_trigger">
							<div class="hamburger hamburger--collapse-r">
								<div class="hamburger-box">
									<div class="hamburger-inner"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="dropdown">
				<div class="container">
					<div class="dropdown_inner">
						<ul class="anchor_nav">
							<li><a href="#home">Anasayfa</a></li>
							<li><a href="#about">Hakkımda</a></li>
							<li><a href="#services">Hizmetler</a></li>
							<li><a href="#portfolio">Portfolio</a></li>
							<li><a href="#contact">İletişim</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- /MOBILE MENU -->
		<!-- TOPBAR -->
		<div class="arlo_tm_topbar">
			<div class="container">
				<div class="topbar_inner">
					<div class="logo">
						<a href="#"><img class="light" src="~/Arlo/img/logo/classic/light.png" alt="" /></a>
						<a href="#"><img class="dark" src="~/Arlo/img/logo/classic/dark.png" alt="" /></a>
					</div>
					<div class="menu">
						<ul class="anchor_nav">
							<li class="current"><a href="#home">Anasayfa</a></li>
							<li><a href="#about">Hakkımızda</a></li>
							<li><a href="#services">Hizmetler</a></li>
							<li><a href="#portfolio">Portfolio</a></li>
							<li><a href="#contact">İletişim</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- /TOPBAR -->
	@RenderBody()
		<!-- COPYRIGHT -->
		<div class="arlo_tm_section">
			<div class="arlo_tm_copyright">
				<div class="container">
					<div class="inner">
						<div class="copy wow fadeInLeft" data-wow-duration="1.5s">
							<p>&copy; Copyright 2019-2021. All rights are reserved.</p>
						</div>
						<div class="social wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay=".2s">
							<ul>
								<li><a href="#"><img class="svg" src="~/Arlo/img/svg/social/facebook.svg" alt="" /></a></li>
								<li><a href="#"><img class="svg" src="~/Arlo/img/svg/social/twitter.svg" alt="" /></a></li>
								<li><a href="#"><img class="svg" src="~/Arlo/img/svg/social/behance.svg" alt="" /></a></li>
								<li><a href="#"><img class="svg" src="~/Arlo/img/svg/social/dribbble.svg" alt="" /></a></li>
								<li><a href="#"><img class="svg" src="~/Arlo/img/svg/social/tik-tok.svg" alt="" /></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /COPYRIGHT -->
		<!-- CURSOR -->
		<div class="mouse-cursor cursor-outer"></div>
		<div class="mouse-cursor cursor-inner"></div>
		<!-- /CURSOR -->

	</div>
	<!-- / WRAPPER ALL -->
	<!-- SCRIPTS -->
	<script src="~/Arlo/js/jquery.js"></script>
	<!--[if lt IE 10]> <script type="text/javascript" src="~/Arlo/js/ie8.js"></script> <![endif]-->
	<script src="~/Arlo/js/plugins.js"></script>
	<script src="~/Arlo/js/init.js"></script>
	<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA5bpEs3xlB8vhxNFErwoo3MXR64uavf6Y&callback=initMap"></script>
	<!-- /SCRIPTS -->

</body>
</html>